{% extends 'base/base.html' %}
  {% load static %}
  {% block content %}
  <div class="jumbotron">
    <table>
      <tr>
        <th>
          <img src="{% static 'img/1.png' %}" width="700" height="500">
        </th>
        <th>
          Esta aplicacion es para el registro y busqueda de hojas vidas de una Empresa
          donde se facilita las busquedas y cuenta con la seguridad necesaria para
          que no sea tan facil acceso a las hojas de vidas de los empleados 
        </th>
      </tr>
    </table>

  </div>
{% endblock %}
